<!DOCTYPE html>

  <html lang="eng">

    <head>
      <meta charset="utf-8">
      <title>Homepage</title>
      <style>
      body {
        background-color: blue;
        padding: 0;
        border: 0;
        margin: 0;
      }
      .title {
        text-align: center;
        margin-top: 40px;
      }
      a {
        color: red;
        display: block;
        text-align: center;
        margin-top: 15px;
      }
      p {
        color: pink;
        margin: 20px;
      }
      </style>
   </head>

   <body>
     <div class="title">
       <img src="super-trump-wall.jpg" />
     </div>
     <a href="/game">Play</a>
     <p>It has been six months since Donald Trump ascended to the Presidency. After dismantling
       Congress and replacing it with the cast of
       'Celebrity Apprentice', work has swiftly begun on PROJECT X.
       Trump Sentinels have been deployed into outer space
       to build a wall, dropping bricks along U.S-Mexico border
       and annihilating anyone who stands in their way. It is up to
       you and your Starfighter to stop the building of the wall
       and restore peace to the Galaxy!
     </p>
   </body>

 </html>
